@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.accountPage {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}



.accountTitle {
    color:#020504;
    font-size: 30px;
    display: flex;
    padding-left: 100px;
    margin-left: 100px;
    text-align: center;
    text-justify: center;
  
}

.details {
    color: red;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    border: red;
    padding-top: 80px;
    margin-left: -500px;

}

.name {
    display:flex;
    flex-direction: row;
}

.firstName {
    color: aqua;

}

.lastName {
    color: green;

}

.usernameEmail {
    display:flex;
    flex-direction: row;
}

.username {

}

.email {

}

.label {
    display: flex;
    justify-self: center;
    white-space: nowrap;
}

.modalButtons {
    display: flex;
    margin-bottom: 30px;
    
}

.usernameBtn {
    margin-right: 20px;
    margin-left: 200px;
    color: red;
    display: flex;
    padding-top: -50px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;

}

.usernameEdit {

}

.usernameEditTitle {

}

.submitBtn {

}

.emailBtn {
    margin-right: 20px;
    margin-left: 20px;
    color: red;
    display: flex;
    padding-top: -50px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;

}

.emailEdit {

}

.emailEditTitle {

    margin-right: 20px;
    margin-left: 20px;

}

.email {

}

.newEmail {

}

.passwordEdit {

}

.passwordEditTitle {

}

.newPassword {

}

.repeatPassword {

}

.passwordBtn {
    margin-right: 20px;
    margin-left: 20px;
    color: red;
    display: flex;
    padding-top: -50px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;

}
    
