/*******HOMEPAGE CSS*********/
.carouselMain{
    background-color: #aaaaa0;
    overflow: auto;
    /* white-space: nowrap; */
    padding: 8px;
    height: 200px;
    width: 360px;
}
.carouselMain img {
    padding: 5px;
    width: 300px;
    height: 155px;
    margin-bottom: 10px;
}
.slide{
    min-width: 350px;
    min-height: 100%;   
    display: block;
}
.recipeContainer{
    
}

.accbtn{
    display:flex;
    align-items: center;
    height:40px;
    width: 80px;
    border-radius: 60%;
    margin: 2px;
    box-shadow: 4px 3px 6px -3px;
    background-color: rgb(204, 204, 207);
}
.accbtn:hover {
    background-color: rgb(144, 144, 147);
    box-shadow: none;
}