/*******HOMEPAGE CSS*********/
.carouselMain{
    background-color: #F6F6F6;
    overflow: auto;
    margin-top: 5%;
    padding: 10px;
    height: 500px;
    width: 75vw;
    display: flex;
    flex-direction: column;
}
.carouselMain img {
    padding: 5px;
    width: 300px;
    height: 155px;
    margin-bottom: 10px;
}
.slide{
    width: 100%;
    min-height: 100%;   
    display: block;
}
.recipeContainer{
    
}
.name{
    display: inline-flex;
    color: #020504;
    font-family: 'Montserrat', sans-serif
}
.carouselItem{
display: flex;
flex-direction: row;
}
