/*******NAVBAR CSS*********/
.navbarMain{

}
.navBtns{

}

/*******LOGIN/REGISTER CSS*********/
.loginMain{

}
.loginText{

}
.registerMain{

}
.registerContainer{

}
.btn{
    display:flex;
    align-items: center;
    height:40px;
    width: 80px;
    border-radius: 60%;
    margin: 2px;
    box-shadow: 4px 3px 6px -3px;
    background-color: rgb(204, 204, 207);
}
.btn:hover {
    background-color: rgb(144, 144, 147);
    box-shadow: none;
}
.close{
    padding-right: 20px;
    padding-top: 4px;
    font-weight: 900;
    font-size: larger;
    width: 15px;
    border-radius: 35%;
    margin: 2px;
    box-shadow: 4px 3px 6px -3px;
    background-color: rgb(204, 204, 207);
}
.close:hover {
    background-color: rgb(144, 144, 147);
    box-shadow: none;
}
.ReactModal__Overlay{
    position:absolute;
    margin-left: 100vw;
    transition: margin-left 3000ms ease-in-out;
  }
  .ReactModal__Overlay--after-open{
    margin-left: 75vw;
  }
  .ReactModal__Overlay--before-close{
    margin-left: 100vw;
  }
 
  
 

/*******HOMEPAGE CSS*********/
.carouselMain{

}

/*******FOOTER CSS*********/
.footerMain{

}

/*******COOKIES CSS*********/
.cookiesMain{

}